<div class="AjusteContainer">
  <div class="containerCard">
    <div class="ajusuteImagem">
      <img ngSrc='assets/logosemfundo.png' alt="logosemfundo">
    </div>
    <div class="ajusteConteudo">
      <h2>Iniciar Sessão</h2>
      <p>Bem vindo ao Virtual Lib</p>
    </div>
    <div class="ajusteCredenciais">
      <div>
        <label>Email:</label> <br/>
        <input type="email" name="email" id="email">
      </div>
      <div>
        <label>Password:</label> <br/>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <button> Entrar</button>
        <a href="">Não possui nenhuma conta? Criar  conta  </a>
      </div>
    </div>

  </div>
</div>
