<div class="AjusteContainer">
    <div class="containerCard">
      <form>
      <section class="IMAG">
        <img ngSrc="assets/iso.svg" height="500" width="500">
      </section>
      <section class="INFO">
        <div class="ajusuteImagem">
          <img ngSrc="assets/logosemfundo.png" alt="logosemfundo" height="150" width="150">
        </div>
        <div class="ajusteConteudo">
          <small>Seja bem vindo/a,</small>
          <h1 >Iniciar Sessão</h1>
        </div>
        <div class="ajusteCredenciais">
          <div class="ajusteEmail">
            <label>Email:</label> <br/>
            <input type="email" name="email" id="email">
          </div>
          <div class="ajustePassword">
            <label>Password:</label> <br/>
            <input type="password" name="password" id="password">
          </div>
          <button class="ajusteBotaoEntrar"> Entrar</button>
          <div class="ajusteCredenciaisLink">
            <p >Não possui nenhuma conta?</p> <a href=""> Criar conta  </a>
          </div>
        </div>
      </section>
      </form>
    </div>
</div>
